[submodule "pocketsphinx"]
    path = pocketsphinx
    url = git@github.com:BadlyDrawnBoy/pocketsphinx.git
[submodule "sphinxbase"]
    path = sphinxbase
    url = git@github.com:BadlyDrawnBoy/sphinxbase.git
